<section id="lab_social_icon_footer">
<!-- Include Font Awesome Stylesheet in Header -->
<link rel="stylesheet" href="/stylesheets/footer.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
        <div class="text-center center-block">
              <a href="https://www.facebook.com/samslezek" target='_blank'><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://twitter.com/samslezek" target='_blank'><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://github.com/samslezek" target='_blank'><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
              <a href="mailto:sdotslezek@gmail.com" target='_blank'><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
              <a href="https://soundcloud.com/sam-slezek" target='_blank'><i id="social-sc" class="fa fa-soundcloud fa-3x social"></i></a>
              <a href="https://www.linkedin.com/in/slezek/" target='_blank'><i id="social-li" class="fa fa-linkedin fa-3x social"></i></a>
    </div>
</div>
</section>