<!DOCTYPE html>
<html>
    <head>
        <title>Sam's Site</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
	    <nav class="navbar navbar-default">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="/">Sam's Temp Website</a>
	            </div>
	            <div class="collapse navbar-collapse">
	                <ul class="nav navbar-nav navbar-right">
	                        <li><a href="/about">About</a></li>
	                </ul>
	            </div>
	            <style>
					body {
					  font-size: 1.25em;
					  font-family: 'Dosis', Arial,Helvetica,sans-serif;
					  color: #444;
					  color: #444;
					}

					h2 {
					  font-size: 1.5em;
					  letter-spacing: 0.04em;
					  margin: 0;
					  font-weight: normal;
					  color: #ff5252;
					}

					.announcement {
					  padding: 10px 15px 0px;
					  border: 1px solid #e1e1e1;
					  background-color: #f9f9f9;
					  border-radius: 4px;
					}

					.navbar {
						background-color: #c2d2ea;
					}
	        	</style>
	        </div>
	    </nav>
<div class='container'>
	 <h1>About Me</h1>

	<img style='width:200px' src='https://i.imgur.com/GtpN14A.jpg'></img>

	 <p><br>TBD :)</p>

</div>

	</body>
</html>