<!DOCTYPE html>
<html>
<% include ./partials/header %> 
<div class="container text-center" style='font-family: Palatino'>
  <div class='col-md-12'>
    <p>See below for the most basic app imaginable using the Web Music API. On desktop, moving mouse to the left and right will alter frequency; moving mouse up and down will increase/decrease delay feedback. Credit my guy <a href='https://www.toptal.com/web/web-audio-api-tutorial'>here</a> for getting me started with the tutorial.</p>
    </div>
    <div class='col-md-6 btn btn-success mr-1'>Resume Audio</div>
    <div class='col-md-6 btn btn-danger mr-1'>Pause Audio</div>
</div>

</body>
<footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.8.0/Tone.min.js" type="text/javascript"></script>
  <script src="/scripts/mouse.js" type="text/javascript"></script>
  <script>
    var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
    var delay= audioCtx.createDelay(5);
    delay.delayTime.value = 0.09;
    var delayFeedback = audioCtx.createGain();
    delayFeedback.gain.value=0.79;
    var volume = audioCtx.createGain();
    var sinea = audioCtx.createOscillator();
    sinea.frequency.value = 440;
    sinea.type = "sine";
    sinea.start();
    sinea.connect(volume);
    var sineb = audioCtx.createOscillator();
    sineb.frequency.value = 523.25;
    sineb.type = "sine";
    sineb.start();
    sineb.connect(volume);
    var sinec = audioCtx.createOscillator();
    sinec.frequency.value = 698.46;
    sinec.type = "sine";
    sinec.start();
    sinec.connect(volume);
    volume.connect(delay);
    volume.connect(audioCtx.destination);
    delayFeedback.connect(volume);
    delay.connect(delayFeedback);
    delayFeedback.connect(delay);
    volume.gain.value=0.2;
    mouse.onMouseMove=function(event){
      sinea.frequency.value = event.pageX/1000.00*440;
      sineb.frequency.value = event.pageX/1000.00*523.25;
      sinec.frequency.value = event.pageX/1000.00*698.46;
      delayFeedback.gain.value=Math.max(0.7,event.pageY/700.00);
    };
    document.querySelector('.btn-success').addEventListener('click', () => audioCtx.resume());
    document.querySelector('.btn-danger').addEventListener('click', () => audioCtx.suspend());
  </script>
</footer>
</html>
