<!DOCTYPE html>
<html>
<% include ./partials/header %> 
<body>
	<div class="container" style='font-family: Palatino'>
		<h1>About Me</h1>
		<img style='width:170px; padding:10px' src='https://i.imgur.com/GtpN14A.jpg'></img>
		<p>I'm Sam. I live in San Francisco and work in Strategy at Instacart. In my free time, I play basketball and soccer, listen to EDM, and explore California and beyond. Here I'm playing around with a couple of little music projects :)</p>
    <p>(Please don't judge the very imperfect formatting. I've made the decision not to dive too deep into the weeds of any pure front-end libraries until applicable to a larger project - for now I'm just hacking around with Bootstrap.)</p>
		<h1>Projects</h1>
		<h2><a href='/piano'>Piano Project</a></h2>
		<p>A small piano application using Tone.js</p>
		<h2><a href='/basic-web-music-api'>Basic Web Project</a></h2>
		<p>The simplest project imaginable using the Web Music API</p>
    <h2><a href='/garageband'>Super Simple Garageband</a></h2>
    <p>Extremely simplified version of Garageband using Howler.js (old)</p>
    <h1>Blog Posts</h1>
    <h2><a href='/uber'>On Uber and Growth at All Costs</a></h2>
    <p>A piece I wrote in early 2018 on Uber.</p>
    <h2><a href='/snap'>Snap in Historical Context</a></h2>
    <p>A piece I wrote in early 2017 on Snap and corporate governance.</p>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<% include ./partials/footer %> 
</html>