<!DOCTYPE html>
<html>
<% include ./partials/header %> 
<body>
	<div class='container'>
<div class='text-center'>
<img style='max-width:100%; padding-bottom:30px;' src="https://samslezek.files.wordpress.com/2017/01/snapcontext.jpg" />
</div>
<p><em>(Disclaimer: I am aware that the above picture is ironic)</em></p>

<p>As Snap prepares for its IPO, the company is taking heat for a rumored decision to issue non-voting shares, leaving founders Evan Spiegel and Robert Murphy with 70% of the company’s voting power. The decision has irked some investors, who believe that Snap is abusing a position of power to take away rights that investors deserve. Based on historical precedents, though, a consolidation of power may be the best way to protect against shareholders who often hold a short-term mindset that can inhibit innovation.</p>

<p>The Snap IPO would not mark the first time that recent tech entrepreneurs have ensured their own autonomy. Last June, Facebook’s board, which is more than 50% controlled by Mark Zuckerberg, approved a stock split in which shareholders received two additional non-voting shares for each voting share owned. The move allowed Zuckerberg room to maneuver and to sell his shares without diluting his voting position. Facebook has been wildly successful under Zuckerberg’s reign, with the stock having risen 343% since the beginning of 2013. In ensuring their continued control over their companies, Spiegel and Zuckerberg could be showing that they have learned from entrepreneurs before them who struggled while subject to the control of shareholders.</p>

<p>Perhaps the best example of this was the most forward-thinking CEO the world has ever known, Steve Jobs. When Apple was taken public in 1981, Jobs and the Apple Board decided that the company should be run by a more traditional leader and hired John Sculley from Pepsi-Cola, with Jobs taking over as head of the Macintosh team. There, Jobs created an astonishing product but failed to hit short-term sales targets. Tensions rose, and Jobs was removed from the position and effectively forced out of Apple in 1985.</p>

<p>By 1997, Apple had only 4% market share in the PC market and was losing over $1Bn annually, and it realized that it needed to turn back to Jobs. Jobs had learned his lesson, and made it clear that he required a mandate to make massive changes to the company. In the coming years, he revolutionized Apple, focusing on vertical integration and designing groundbreaking new products such as the iMac, iPod, and iPhone. Apple has since grown from a$3Bn valuation in 1997 to a present day value over $600Bn. The company’s share price fell 10% when Jobs announced he was taking medical leave in January 2009.</p>

<p>More recently, the return of Michael Dell as CEO of Dell in the 2000s provides another example of a leader unable to innovate while subject to a Board’s demands. In 2007, Dell faced shrinking sales and margins in a personal computer market that was competitive and slow-growing. Michael tried to shift the company’s focus away from personal computers and primarily towards servers and software. He acquired Perot Systems in 2009 and Quest Software in 2012, but was unable to shift the primary focus of the company. The shareholders had bought a PC business, and they seemed ready to go down with the ship if that business failed.</p>

<p>On October 30, 2013, Michael Dell, backed by private equity firm Silver Lake Partners, regained control of the company through a private buyout. The company has been able to transform since, both by creating new lines of personal and business computers and by expanding into new industries. Most notably, Dell acquired EMC Corporation, a massive software and data storage company, for a tech record $67 billion in September 2016.  Only time will tell how successful Dell’s transformation can be, but it is evident that its founder’s ability to break free from shareholders’ control was pivotal in enabling the company to move forward.</p>

<p>There are benefits and drawbacks to entrusting great power to a founder. At the end of the day, though, investors hoping to see Snap remain a groundbreaking company that can adapt and grow over time could do a lot worse than putting their trust in someone like Spiegel.</p>

 

<p><em>One more note: none of this is to say that I am bullish or bearish on SNAP. I mean only to point out that overbearing shareholders have a history of hindering some of the most innovative CEOs of all time, and increased CEO power may therefore not be the drawback it is often portrayed as. </em></p>

<% include ./partials/footer %> 

 