<!DOCTYPE html>
<html>
<% include ./partials/header %> 
<body>
	<div class='container'>
<div class='text-center'>
<img style='max-width:100%; padding-bottom:30px;' src="https://samslezek.files.wordpress.com/2018/01/screen-shot-2018-01-28-at-10-19-01-pm.png" />
</div>
<p>While valuations of leading consumer tech companies have taken off in recent years, profitability in many cases has not. Tech competition around the globe continues to heat up, and companies are burning cash more quickly than ever to gain market share. Investors have seemingly found consensus that there are brighter days ahead, but the reality of the situation is a bit less clear.</p>

<p>Uber is arguably the clearest example of this phenomenon. On January 19, Uber received investment from SoftBank at a blended valuation of $54Bn. Per its <a href="https://www.wsj.com/graphics/uber-financials/">financials published in the WSJ</a>, the company had net income of $-1.5bn in Q3 2017, with revenues of $2.0bn. Facing heavy competition in the US (Lyft, Via, Juno) and abroad (Didi Chuxing, Grab, Ola), the company remains mired in an expensive land grab for market share, and it is burning billions to stay on top.</p>

<p>The accepted wisdom in Silicon Valley is that growth should be attained at all costs: acquire users now, figure profitability out later. Many look at today’s land grab and see a light at the end of the tunnel, concluding that Uber will soon emerge as a powerful cash-generating force. For a few reasons, I would be cautious in making this conclusion:</p>
<ol>
	<li><strong>Consumers are fickle:</strong> If Lyft is ten cents cheaper than Uber, consumers take Lyft. If an upstart competitor offers free rides, consumers download their app. On the supply side, the song remains the same; drivers will drive for whichever company will pay them more. This makes the lifetime value of customers being acquired a tricky concept.</li>
	<li><strong>Innovation is accelerating:</strong> A few years ago, ride-sharing apps were transformative; today they’re almost commoditized. Self-driving cars will soon transform the scene, and futuristic companies like <a href="https://www.boringcompany.com/">The Boring Company</a> could do the same. I highly recommend against asking a blockchain junkie about the future of transportation, but if you’re into that kind of thing you’ll hear an even bleaker outlook for Uber. No one can say with any certainty how we’ll get from A to B ten years from now, so it feels naive to assume that Uber will be safely printing cash then.</li>
	<li><strong>Funds are growing:</strong> More cash to invest means more cash to burn, and today there is more cash to invest than ever. NEA raised a $3.3Bn fund in 2017; Sequoia is targeting over $5Bn for its next fund; SoftBank’s Vision Fund manages near $100Bn. (SoftBank, in fact, <a href="https://qz.com/1187144/softbank-not-uber-is-the-real-king-of-ride-hailing/">has already made big bets on 4 ride-hailing startups</a>.) The money fueling today’s growth is not drying up any time soon, and if Uber stops burning cash, a competitor will surely be ready to burn twice as much to catch up.</li>
</ol>
<p>Ultimately, after billions in spending, Uber finds itself in a precarious position. If the company prioritizes profitability, it could pay dearly in future growth. If it continues to prioritize growth, it may be a long long way from profitability.</p>

<p>There are certainly reasons to believe Uber will conquer the above hurdles. Its algorithms are getting smarter, its brand is getting bigger, and it has its sights on profitability <a href="https://www.bnn.ca/uber-to-be-profitable-within-3-years-ceo-1.976083">in the next couple of years</a>. It has made heavy (<a href="https://www.wired.com/story/uber-waymo-google-levandowski-lawsuit-stroz-report/">if dishonest</a>) investments into self-driving cars, has diversified into food delivery with Uber Eats, and looks to stay on the leading edge of transportation. For today, though, there remain many questions and an interesting road ahead.</p>
</div>
</body>
<% include ./partials/footer %> 

 