body {
    margin-top: 70px;
    background: #eee;
    color: #666;
}

.input-group {
    padding: 10px 0 5px 0;
}

#btnContainer {
    padding-top: 5px;
}

.btn-round {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.fa {
    font-size: 32px;
}

/*
.fa-play-circle-o {
    font-size: 70px;
    color: #33b5e5;
    transition: 0.5s;
}
.fa-stop-circle-o {
    font-size: 70px;
    color: #ff4444;
    transition: 0.5s;
}
.fa-play-circle-o:hover {
    color: #0099CC;
}
.fa-stop-circle-o:hover {
    color: #CC0000;
}*/